# Isso ignora pastas geradas automaticamente pelo Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Isso ignora arquivos de cache de memória
/[Mm]emoryCaptures/

# Isso ignora arquivos de log e crash
sysinfo.txt
crash_info.txt
*.log

# Isso ignora arquivos de configuração de IDEs (Visual Studio, VS Code, Rider)
.vs/
.idea/
.vscode/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Isso ignora arquivos ocultos do sistema operacional (Windows e Mac)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db